In [142]:
import numpy as np
import pandas as pd

In [143]:
finaldf = pd.read_html("https://en.wikipedia.org/wiki/2000_Summer_Olympics_medal_table")
finaldf = finaldf[2].head(20)
#finaldf["Year"] = 2000
#print(finaldf)

In [144]:
for i in range(1,5):
    i *= 4
    if(i<10):
        editedlink = "https://en.wikipedia.org/wiki/200" + str(i) + "_Summer_Olympics_medal_table"
    else:
        editedlink = "https://en.wikipedia.org/wiki/20" + str(i) + "_Summer_Olympics_medal_table"
    
    if(i<8):
        year = "200" + str(i)
        yearval = int(year)
        #print(yearval)
        df1 = pd.read_html(editedlink)
        top20country = df1[2].head(20)
        #top20country["Year"] = int(yearval)
        #finaldf = pd.concat([finaldf,top20country], axis=0, ignore_index=False)
    else:
        if(i<10):
            year = "200" + str(i)
            yearval = int(year)
        else:
            year = "20" + str(i)
            yearval = int(year)
        df1 = pd.read_html(editedlink)
        top20country = df1[2].head(20)
        top20country = top20country.rename(columns={'NOC': 'Nation'})
        #print(yearval)
        #top20country["Year"] = int(yearval)
        #finaldf = pd.concat([finaldf,top20country], axis=0, ignore_index=False)
    finaldf = pd.concat([finaldf,top20country], axis=0, ignore_index=False)

In [145]:
print(finaldf)

   Rank         Nation  Gold  Silver  Bronze  Total
0     1  United States    37      24      32     93
1     2         Russia    32      28      29     89
2     3          China    28      16      14     58
3     4     Australia*    16      25      17     58
4     5        Germany    13      17      26     56
..  ...            ...   ...     ...     ...    ...
15   16        Jamaica     6       3       2     11
16   17        Croatia     5       3       2     10
17   18           Cuba     5       2       4     11
18   19    New Zealand     4       9       5     18
19   20         Canada     4       3      15     22

[100 rows x 6 columns]